# Part 1

<h3>Import necessary libraries</h3>

In [31]:
# import numpy
import numpy as np
# import pandas
import pandas as pd
# import keras
from keras.models import Sequential
from keras.layers import Dense
# import train_test_split
from sklearn.model_selection import train_test_split
# import mean_squared_error 
from sklearn.metrics import mean_squared_error

### Gather and prepare data

In [7]:
# read data and show head
df = pd.read_csv('concrete_data.csv')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [12]:
# filter the features or X
features = df.loc[:, df.columns != 'Strength']
# filter the target or y
target = df['Strength']

In [18]:
# input amount
n_cols = features.shape[1]

### Prepare model

In [68]:
def regression_model(hidden_layers = 1):
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    # add layers
    while hidden_layers > 1:
        hidden_layers -= 1
        model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### Fit and predict model

In [42]:
# create numpy array for thge mean squared error
mse = np.array([])
# repeat the process 50 times
for i in range(50):
    # split the data into train and test
    X_train, X_test, y_train, y_test = train_test_split(features, target)
    # build fit and predict with the model
    model = regression_model()
    model.fit(X_train, y_train, epochs=50, verbose = 0)
    y_pred = model.predict(X_test)
    # calculate the mean squared error
    mse_sample = mean_squared_error(y_test, y_pred)
    # append to np array
    mse = np.append(mse, mse_sample)

In [49]:
print('The mean for the mean squared error is:',mse.mean())
print('The standard deviation for the mean squared error is:',mse.std())

The mean for the mean squared error is: 402.53391084967296
The standard deviation for the mean squared error is: 492.41464712866843

# Part 2

In [51]:
# normalize the data
normalized_fetures = (features - features.mean()) / features.std()

In [54]:
# create numpy array for thge mean squared error
mse_norm = np.array([])
# repeat the process 50 times
for i in range(50):
    # split the data into train and test this time with the normalized features
    X_train, X_test, y_train, y_test = train_test_split(normalized_fetures, target)
    # build fit and predict with the model
    model = regression_model()
    model.fit(X_train, y_train, epochs=50, verbose = 0)
    y_pred = model.predict(X_test)
    # calculate the mean squared error
    mse_sample = mean_squared_error(y_test, y_pred)
    # append to np array
    mse_norm = np.append(mse_norm , mse_sample)

In [72]:
print('The mean for the mean squared error when normalized is:',mse_norm.mean())
print('The standard deviation for the mean squared error when normalized is:',mse_norm.std())

The mean for the mean squared error when normalized is: 306.64163618346936
The standard deviation for the mean squared error when normalized is: 81.62387211782558

In [89]:
# create results Dataframe
results = pd.DataFrame({'Mean': [mse.mean(), mse_norm.mean()],
              'STD': [mse.std(), mse_norm.std()]}, index=['Non-norm','Normalized'])

In [79]:
# look at results
results

                  Mean         STD
Non-norm    402.533911  492.414647
Normalized  306.641636   81.623872

# Part 3

In [69]:
# create numpy array for thge mean squared error
mse_100e = np.array([])
# repeat the process 50 times
for i in range(50):
    # split the data into train and test this time with the normalized features
    X_train, X_test, y_train, y_test = train_test_split(normalized_fetures, target)
    # build fit and predict with the model
    model = regression_model()
    # fit with 100 epochs
    model.fit(X_train, y_train, epochs=100, verbose = 0)
    y_pred = model.predict(X_test)
    # calculate the mean squared error
    mse_sample = mean_squared_error(y_test, y_pred)
    # append to np array
    mse_100e = np.append(mse_100e , mse_sample)

In [90]:
# create Dataframe with 100 epochs
epochs_100 = pd.DataFrame({'Mean': mse_100e.mean(),
              'STD': mse_100e.std()}, index=['100 Epochs'])
# append to results Dataframe
results = results.append(epochs_100)

In [91]:
# look at results
results

                  Mean         STD
Non-norm    402.533911  492.414647
Normalized  306.641636   81.623872
100 Epochs  155.463027   15.951902

# Part 4

In [82]:
# create numpy array for thge mean squared error
mse_3_layers = np.array([])
# repeat the process 50 times
for i in range(50):
    # split the data into train and test this time with the normalized features
    X_train, X_test, y_train, y_test = train_test_split(normalized_fetures, target)
    # build fit and predict with the model with three hidden layers
    model = regression_model(3)
    model.fit(X_train, y_train, epochs=100, verbose = 0)
    y_pred = model.predict(X_test)
    # calculate the mean squared error
    mse_sample = mean_squared_error(y_test, y_pred)
    # append to np array
    mse_3_layers = np.append(mse_3_layers , mse_sample)

In [92]:
# create Dataframe with 3 hidden layers
three_layers = pd.DataFrame({'Mean': mse_3_layers.mean(),
              'STD': mse_3_layers.std()}, index=['3 Hidden layers'])
# append to results Dataframe
results = results.append(three_layers)

In [93]:
# look at results
results

                       Mean         STD
Non-norm         402.533911  492.414647
Normalized       306.641636   81.623872
100 Epochs       155.463027   15.951902
3 Hidden layers   88.268928   25.115535